* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.15s ease-in;
}

.main-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.container {
  min-height: min-content;
  padding-bottom: 20px;
  border-radius: 0px 0px 10px 10px;
}

body {
  height: 100vh;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 20px;
  box-shadow: 2px 2px 2px 2px;
  border: 2px solid;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Futura', sans-serif;
  font-size: 20px;
   margin-top: 10px;
  min-height: 200px;
  width: fit-content;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
}



.App {
  text-align: center;


  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  display: flex;
  color: aliceblue;
  flex-direction: column;
  border-radius: 10px;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 350px;
  box-shadow: 2px 2px 2px 2px rgb(70, 70, 70, 0.4);
  /* From https://css.glass */
}

blockquote q {
  quotes: "“""”""‘""’";
}


.quote-body {
  display: flex;
  flex-direction: column;
  padding: 40px;

}

.my-button {
  padding: 10px;
  margin: 10px;
  border: none;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 0px 05px 5px 1px rgb(70, 70, 70, 0.2);
}

.my-button:hover {
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(9, 90, 21);
  box-shadow: 0px 05px 5px 1px rgb(70, 70, 70, 0.2);
  cursor: pointer;
}

.my-button:active{
  transform: scale(1.2);
}

.button-div {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: aliceblue;
  min-height: 50px;
  padding: 10px 0px 10px 0px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.share-button-div {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  color: aliceblue;
  min-height: 200px;
  padding: 10px 010px 10px 10px;
  border-radius: 5px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

a {
  display: inline;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  color: rgb(0, 0, 0);
}

.spaced {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;

}

.author-box {
  margin-top: 10px;
  display: flex;
  width: auto;
  flex-direction: row;
  justify-content: center;
  text-align:center;
  align-items: center;
  filter: grayscale(50%)
}
.author-profile{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.author {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin: 10px;
  height: 10px;
  text-align: left;

}

.author-title {
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 12px;
  margin: 10px;
  height: 10px;
  text-align: left;
  text-transform: uppercase;

}
.avi {
  width: 100px;
  height: 100px;
  align-content: flex-start;
  border-radius: 50px;
}

.spinner {
  transform: scale(0.1);
}

